@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    

    <div class="col-md-4">

    </div>

    <div class="col-md-4 div-neumorphism">
        <h1>
            Добро пожаловать!
        </h1>
        <h5>
            Войдите в уже существующий аккаунт или зарегистрируйте новый.
        </h5>
        <br />
        <form action="~/Home/SignIn" method="post" name="login_form" target="_self" class="form-sign-in">
            <div class="form-group">
                <label>Ваш логин</label>
                <input type="text" name="login" id="login" placeholder="login" class="form-elem form-control center-block">
            </div>
            <div class="form-group">
                <label>Ваш пароль</label>
                <input type="password" name="password" id="password" placeholder="password" class="form-elem form-control center-block">
            </div>


            <br />
            <button type="submit" id="login_button" class="form-elem btn btn-primary">Войти</button>
            <br />
            <button type="button" id="register_button" class="form-elem btn btn-secondary" onclick="location.href='@Url.Action("Register", "Register")'">Зарегистрироваться</button>
           
        </form>
       
    </div>

    <div class="col-md-4">
    </div>
</div>