
@{
    ViewBag.Title = "RegisterFailed";
}

<div class="">


    <div class="col-md-4">

    </div>

    <div class="col-md-4 div-neumorphism">
        <h3>
            Пользователь с таким логином уже существует
        </h3>

        <h4>Попробуйте ещё</h4>
        <button type="button" id="register_repeat_button" class="form-elem btn btn-secondary" onclick="location.href='@Url.Action("Register", "Register")'">Войти</button>

        <br />

    </div>

    <div class="col-md-4">
    </div>
</div>
